
#canvas { 
    border: 5px solid #030303;
    border-radius: 5px;
    cursor: url('pen_cursor.png'), default;
    position: absolute;
    top:150px;
    left:200px;
}
#coloor{
    position: absolute;
    left:400px;
    top: 50px
}
#brush{
    position: absolute;
    left:100px;
    top: 50px;
}
#eraser{
    position: absolute;
    left:200px;
    top: 50px;
}

#reset{
    position: absolute;
    left:300px;
    top: 50px;
}

#slider{
    position: absolute;
    left:600px;
    top: 50px;
    background: 'white';
}
#save{
    position: absolute;
    left:900px;
    top: 50px;
}
